<!DOCTYPE html>
<html>
<head>
  <title>UserAdmin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :head if content_for?(:head)%>
</head>
<body>

<div id="edit_user" class="modal_popup" title="Edit User" style="display:none"></div>
<div id="add_user" class="modal_popup" title="Add User" style="display:none"></div>
<div id="add_role" class="modal_popup" title="Add/Edit Role" style="display:none"></div>

<div id="main">
<%= yield %>
</div>
</body>
</html>
